<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {{title}} you can use this method on the title section but you to identify the title on hello.py page-->
    <title>
        {% if title == "About" %}
        About
        {% elif title == "Contact" %}
        Contact
        {% elif title == "Home" %}
        Home
        {% else %}
        {{title}}
        {% endif %}
    </title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/about">about</a>
    <a href="/contact">Contact</a>